.fr-connect-group
  = button_to "/auth/proconnect", method: :post, remote: false, class: "fr-connect", data: { turbo: false } do
    %span.fr-connect__login S'identifier avec
    %span.fr-connect__brand FranceConnect

  %p= link_to "Qu'est-ce que FranceConnect ?", "https://franceconnect.gouv.fr/", target: "_blank", rel: "noopener", title: "Qu’est-ce que FranceConnect ? - nouvelle fenêtre"
