
- content_for(:page_title) { "Audit technique" }

.fr-grid-row.fr-pt-3w
  .fr-col-12.fr-col-md-10.fr-col-lg-8
    %h1.fr-mb-2w Audit technique des startups d'État

    %p.fr-text--lg.fr-mb-5w
      Évaluez la conformité technique de vos services numériques aux standards recommandés par beta.gouv.fr.

    - if Rails.env.production?
      = render 'proconnect_button'
    - else
      = button_to "Se connecter en mode développeur", "/auth/developer", method: :post, remote: false, data: { turbo: false }, class: "fr-btn fr-btn--lg fr-mb-3w"
