- content_for(:page_title) { "Déconnexion ProConnect" }

.fr-grid-row
  .fr-col-12.fr-col-md-10.fr-col-lg-8
    %h1 La déconnexion à ProConnect est terminée

    %p
      Vous pouvez
      = dsfr_link_to "retourner à l'accueil", root_path
      \.
